@use "sass:math";

$color: #123456;

#app {
  color: rgba(255, 255, 255, 1);
}

.a-button {
  .a-button__text {
    color: $color;
  }

  &::after {
    content: "";
    margin: 0 auto;
    display: block;
  }

  @if $color {
    color: $color;
  } @else {
    color: red;
  }
}
